#header {
  height: 100vh;
  min-height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #c6cdd5;
  font-family: 'Dosis', sans-serif;
}

.homepage-title {
  display: flex;
  margin: 0 auto;
  align-items: flex-front;
  justify-content:space-evenly;

}

#homepage-title {
  display: flex;
  align-items: flex-front;
  max-width: 450px;
  margin-bottom: 0;
  font-size: 86px;
  color: white;
  line-height: 100px;
  text-shadow: 2px 2px #4aa4ab;
}

#homepage-subtitle {
  display: flex;
  line-height: 50px;
  align-items: flex-end;
  align-content: flex-end;
  width: 100px;  
  margin-bottom: 1%;
  font-size: 33px;
  color: hsl(179, 42%, 45%);
}
#greeting {
  display:flex;
  flex-direction: column;
  margin-top: 30px;
  width: 50%;
  align-items: center;
}

/* Responsive Design */

@media only screen and (max-width: 600px) {

  #header {
    height: 100vh;
    min-height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .greeting {
    display:flex;
    flex-direction: column;
    margin-top: 100px;
    width: 50%;
    align-items: center;
    font-size: 15px;
  }

  .homepage-title {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    align-items: center;
  }
  
  #homepage-title {
    display: flex;
    align-items: flex-end;
    width: 200px;
    margin-bottom: 0;
    text-align: center;
    margin: 0 auto;
    font-size: 50px;
    color: white;
    line-height: 60px;
    text-shadow: 2px 2px #a9dddd;
  }
  
  #homepage-subtitle {
    display: flex;
    align-items: center;
    align-content: center;
    width: 200px;  
    text-align: center;
    margin-bottom: 0;
    font-size: 25px;
    color: #3a7776;
  }
}